* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

img {
  display: block;
}

input,
textarea {
  outline: none;
}
