.wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s linear;
  transform: translateX(-50%);
  padding: 16px;
  backdrop-filter: blur(4px);
  max-width: 1440px;
}

.wrapper:hover {
  opacity: 1;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.play,
.mute,
.fullscreen {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
}

.mute {
  margin-left: 8px;
}

.fullscreen {
  margin-left: auto;
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

.progress::-webkit-slider-runnable-track {
  height: 12px;
  background: #ccc;
  border-radius: 16px;
}

.progress::-moz-range-track {
  height: 12px;
  background: #ccc;
  border-radius: 16px;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f50;
  box-shadow: -1446px 0 0 1440px #f50;
}

.progress::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -1446px 0 0 1440px #f50;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 4px;
  }
}
