.wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s linear;
  padding: 16px;
}

.wrapper:hover {
  opacity: 1;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.controls > button:nth-of-type(2) {
  margin-left: 8px;
}

.controls > button:nth-of-type(3) {
  margin-left: auto;
}

.progress {
  width: 100%;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 4px;
  }
}
